@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Merriweather:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

.heading1 {
    background-image: url('../resources/Banner\ Image.png');
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px 140px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    padding-top: 40px;

}

#ny1 {

    font-size: 32px;
    font-weight: 400;
    padding-top: 80px;

}

#ny2 {
    font-size: 72px;
    font-weight: 900;
    /* padding-top: 40px; */
    margin-top: 10px;

}

.deals {
    text-align: center;
}

.deals h1 {
    color: #F00;
    font-family: 'Merriweather', serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
}

.deals p {
    Copy color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.deals h4 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}